

.main__dish-container {
    display: flex;
    padding: 4.5rem var(--marginLRContent) 4.5rem var(--marginLRContent);
    display: flex;
    gap: 2rem;
}


.main__dish-container > a {
    padding: 0;
}


.main__dish__image-container {
    width: 28.125rem;
    height: 18.75rem;
    overflow: hidden;
    border-radius: var(--borderRadius);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 0;
}


.main__dish__image {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    transition: transform 250ms ease-in-out;
    z-index: 1;
}


.main__dish__image:hover {
    transform: scale(1.1);
}


.main__dish__recipe-of-the-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}


.main__dish__recipe-of-the-day h1 {
    font-size: 1.75rem;
    font-weight: 600;
    padding-bottom: 2rem;
    line-height: 1.5rem;
}


.main__dish__recipe-of-the-day p {
    font-weight: 300;
    font-size: 1rem;
}


.main__dish__recipe-of-the-day a {
    color: var(--buttonColor);
}


.main__dish-btn {
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0.75rem 3.75rem;
    color: var(--buttonColor);
    background-color: var(--green);
    transition: background-color 150ms ease-in-out;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    margin-bottom: 2.5rem;
}


.main__dish-btn:hover {
    color: var(--buttonColor);
    transition: background-color 150ms ease-in-out;
    background-color: var(--buttonBackgroundcolorHover);
}


.choose-recipe__container {
    display: flex;
    flex-direction: column;
    padding: 4.5rem var(--marginLRContent) 4.5rem var(--marginLRContent);
    background-color: var(--grey_dark);
}


.choose-recipe__headline {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}


.choose-recipe__headline h2,
.main__info-headline h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}


.choose-recipe__links__container {
    display: flex;
    justify-content: space-between;
}


.choose-recipe__links__container > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}


.choose-recipe__links__image-wrapper {
    height: 14rem;
    width: 14rem;
    overflow: hidden;
    border-radius: var(--borderRadius);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}


.choose-recipe__links__image-wrapper > img {
    height: 100%;
    width: 100%;
    border-radius: var(--borderRadius);
    cursor: pointer;
    object-fit: cover;
    transition: transform 250ms ease-in-out;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}


.choose-recipe__links__image-wrapper > img:hover {
    transform: scale(1.1);
}


.choose-recipe__links__container p {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: var(--fontColorMain);
    margin-top: 0.25rem;
    text-align: center;
}


.main__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5rem var(--marginLRContent) 6.5rem var(--marginLRContent);
}


.main__info-headline {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
}


.main__info-container__content{
    font-weight: 300;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}


.main__info-container__content p {
    font-size: 1rem;
    line-height: 1.25rem;
}


.main__info-container__img{
    height: 14rem;
    width: 14rem;
    border-radius: var(--borderRadius);
    object-fit: cover;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}



/* ========== I M P R E S S U M ========== */

.impressum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem var(--marginLRContent);
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: calc(100dvh - var(--footerHeight)  - var(--headerHeight) - 4rem);
    /* height: calc(100dvh - var(--footerHeight)  - var(--headerHeight) - 4rem); */
}


.impressum h1 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
}


.impressum h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}


.impressum h3 {
    font-size: 1.125rem;
}


.impressum a {
    color: var(--fontColorMain);
}


.impressum a:hover {
    font-weight: bold;
    color: var(--green);
}


.impressum p {
    line-height: 1.25rem;
}


.impressum hr {
    margin-top: 2rem; 
    margin-bottom: 1rem
}