

.main__FirstSection,
.main__SecondSection,
.main__ThirdSection {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.main__SecondSection {
    background-color: var(--grey_dark);
}


.main__FirstSection__image,
.main__SecondSection__image,
.main__ThirdSection__image {
    position: relative;
    overflow: hidden;
    width: 50rem;
    margin-left: var(--marginLRContent);
    border-radius: var(--borderRadius);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.main__FirstSection__image > img,
.main__SecondSection__image > img,
.main__ThirdSection__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms ease-in-out;
}

.main__FirstSection__image:hover img,
.main__SecondSection__image:hover img,
.main__ThirdSection__image:hover img {
    transform: scale(1.1);
}



.main__FirstSection__article,
.main__SecondSection__article,
.main__ThirdSection__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-left: 2rem;
}


.main__FirstSection__article,
.main__SecondSection__article,
.main__ThirdSection__article {
    margin-right: var(--marginLRContent);
}


.main__FirstSection__article > p,
.main__SecondSection__article > p,
.main__ThirdSection__article > p {
    word-wrap: break-word;
    white-space: normal;
    padding-top: 1rem;
}



.main__button {
    margin-top: 2rem;
    padding: 0.5rem 3rem;
    background-color: var(--green);
    border: none;
    color: var(--buttonColor);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.main__button:hover {
    transition: filter 200ms ease-in-out;
    filter: brightness(110%);
}


