.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
}



.header a:visited {
    color: var(--fontColorHeader);
}


.header__logo__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: var(--marginLRContent);
}


.header__logo {
    width: 12.5rem;
}

.header__logo:hover {
    transition: transform 200ms ease-in-out;
    transform: scale(1.025);
}




.header__nav {
    height: 100%;
    display: flex;
    align-items: end;
    font-size: var(--fontSizeHeader);
    line-height: calc(var(--fontSizeMain) * 1.125);
    font-weight: 600;
    gap: 1rem;
    margin-right: var(--marginLRContent);
    margin-bottom: 2rem;
    color: var(--fontColorHeader);
}


.header__nav a:hover,
#linkToContactForm:hover {
    transition: color 150ms ease-in-out, border-bottom 150ms ease-in-out;
    color: var(--fontColorHover);
    border-bottom: 4px solid var(--fontColorHover);
}