/* 

@media screen and (max-width: 1024px){
    h1 {
        font-size: 1.125rem;
        }
    h2 {
        font-size: 1rem;
    }
    
    .main-dish-content{
        font-size: 0.75rem;
    }

    .main-dish{
        height: 200px;
        width: 200px;
    }

    p{
        font-size: 0.75rem;
    }

    .dish-btn{
        margin-top: 100px;
    }

    .new-recipe-link{
        gap: 100px;
    }

    span{
        font-size: 0.75rem;
    }

    .new-recipe-img{
        height: 150px;
        width: 150px;
    }

    .info-container-content{
        align-items: center;
    }

    .info-container-img{
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 720px){
    h1 {
        font-size: 1rem;
        }
    h2 {
        font-size: 0.85rem;
    }

    .main-dish-container{
        flex-direction: column;
        align-items: center;
    }
    
    .main-dish-content{
        font-size: 0.65rem;
        align-items: center;
    }

    p{
        font-size: 0.75rem;
    }

    .dish-btn{
        margin-top: 50px;
    }

    .new-recipe-link{
        gap: 50px;
    }

    span{
        font-size: 0.75rem;
    }

    .new-recipe-img{
        height: 150px;
        width: 150px;
    }

    .info-container-content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .info-container-img{
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 600px){
    .main-dish-container{
        padding: 50px 85px 50px;
    }
    
    .choose-dish-container{
        padding: 50px 85px 50px;
    }

    .new-recipe-link{
        align-items: center;
        flex-direction: column;
    }

    .info-container{
        padding: 50px 85px 50px;
    }

} */