
.recipe__main > h1{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 900;
}


.recipe__main {
    padding: 0 var(--marginLRContent);
    min-width: calc(100% - var(--marginLRContent));
}


.recipe__title__img {
    background-image: url(../img/salad.jpg);
}


.recipe__title__img,
.recipe__title__img__meik,
.recipe__title__img__oliver,
.recipe__title__img__anton {
    height: 10.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0.18rem 0.18rem 0.18rem rgba(0, 0, 0, 0.3);
}


.recipe__title__img__meik {
    background-image: url(../img/shrimps_wide.jpg);
}


.recipe__title__img__oliver {
    background-image: url(../img/salad.jpg);
}


.recipe__title__img__anton {
    background-image: url(../img/salad.jpg);
}


.recipe__info {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}


.recipe__item-design {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    background-color: var(--grey_dark);
    border-radius: 0.75rem;
    border: 0.5rem solid var(--grey_dark);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}


.recipe__time {
    background-image: url(../img/icons/clock-regular.svg);
    background-size: cover;
}


.recipe__icon {
    height: 1rem;
    width: 1rem;
}


.recipe__difficutly {
    background-image: url(../img/icons/brain-solid.svg);
    background-size: cover;
}


.recipe__date {
    background-image: url(../img/icons/calendar-alt-regular.svg);
    background-size: cover;
}


.recipe__parting-line {
    margin-top: 3.5rem;
}


.recipe__parting-line > hr {
    opacity: 30%;
}


.recipe__input-ingredients {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}


.recipe__input-ingredients > form {
    display: flex;
    align-items: center;
}
  

.recipe__label {
    flex: 0 0 auto;
    padding-right: 0.5rem;
}
  
.recipe__input {
    flex: 0 0 9rem;
    height: 2rem;
    padding: 0.25rem;
    border: 1px solid var(--grey_dark);
    outline: none;
    text-align: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  

.recipe__button {
    height: 2rem;
    width: 9rem;
    background-color: var(--green);
    transition: background-color 150ms ease-in-out;
    color: var(--fontColorSecond);
    border: 0;
    cursor: pointer;
}


.recipe__button:hover {
    transition: background-color 150ms ease-in-out;
    background-color: var(--buttonBackgroundcolorHover);
}


.recipe__table {
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 100%;
}


.recipe__table td:first-child {
    text-align: right;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    padding-right: 0.5rem;

}


.recipe__table td:last-child {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}


.recipe__table tr:nth-child(odd) {
    background-color: var(--grey_dark);
}


.recipe__table__amount {
    padding: 0.75rem 1rem;
    width: 6rem;
}


.recipe__table__ingredients {
    padding: 0.75rem 1rem;
}


.recipe__title > h2 {
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


.recipe__preparation {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-size: 1rem;
}


.recipe__author {
    margin-bottom: 2rem;
    margin-top: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
}


.recipe__author-img,
.recipe__author-img__meik,
.recipe__author-img__oliver,
.recipe__author-img__anton {
    background-size: cover;
    height: 4rem;
    width: 4rem;
    border-radius: 10000px;
}


.recipe__author-img__meik {
    background-image: url(../img/author_meik.jpg);
}
