@font-face {
    font-display: swap;
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    src: url(./fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}


/* ===== Scrollbar CSS ===== 
https://codepen.io/stephenpaton-tech/full/JjRvGmY
*/
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #000000 #c0c0c0;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }
  
  *::-webkit-scrollbar-track {
    background: #c0c0c0;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  

:root {
    --green: #008000;
    --buttonColor: #ffffff;
    --grey_dark: #efefef;
    --footer_background: #403b3b;
    --fontColorMain: #000000;
    --fontColorSecond: #ffffff;
    --fontColorHeader: #403B3B;
    --fontColorHover: #008000;
    --backgroundColorMain: #ffffff;
    --borderRadius: 0.625rem;
    --fontSizeMain: 1rem;
    --fontSizeHeadlin: 1.5rem;
    --fontSizeHeader: 1.125rem;
    --marginLRContent: 4rem;
}


* {
    margin: 0;
    padding: 0;
}


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    color-scheme: light;
    font-size: 100%;
    scroll-behavior: smooth;
    display: inline-block;
}


body {
    min-height: 100dvh;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: var(--fontSizeMain);
    line-height: calc(var(--fontSizeMain) * 1.125);
    overflow: visible;
    direction: ltr;
    background-color: var(--backgroundColorMain);

}

.d-none {
    display: none!important;
}

#linkToContactForm {
    cursor: pointer;
}


.mainframe {
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 1440px;
    background-color: var(--backgroundColorMain);
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}


a {
    text-decoration: none;
    cursor: pointer;
}



.no-scroll {
    overflow: hidden;
}

